.container {
    padding: 0;
    margin: auto;
}
.navbar{
    border-radius: 0;
}
.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th{
    border: none;
}
section > header{
    background: #99C3FF;
    padding: 5px 0px;
    margin-bottom: 20px;
    text-align: center;
}
.containerSimuladorBc{
    border: 1px solid #99C3FF;
    padding: 0;
}
.containerSimuladorBc header,
.tituloCombo{
    background: #99C3FF;
}
.tituloCombo{
    padding: 1px 10px;
    margin-bottom: 10px;
}
.containerSelect{
    padding: 0px 10px;
}
.containerSelect select{
    margin-bottom: 5px;
}
.containerSelect .valorSelect{
    font-size: 20px;
    left: 33%;
    position: relative;
    color: #337AB7;
}
.containerSimuladorBc header h3{
    margin: 0;
    padding: 10px;
    text-align: center;
}
.containerAzul,
.containerRoxo{
    margin: 0px 2px;
    float: left;
}
.containerAzul{
    border: 1px solid #99C3FF;
    width: 32.8%;
        min-height: 37.1em;
}
.containerCombo{
    width: 32%;
    float: left;
    margin: auto;
}
.containerInfoValores{
    margin-top: 20px;
    margin-bottom: 20px;
}
.containerInfoValores table{
    width: 100%;
    font-size: 12px;
}
.containerInfoValores table tr{
    line-height: 30px;
    font-weight: bold;
}
.containerInfoValores table tr:nth-child(1){
    background: #99C3FF;
}
.containerInfoValores table tr td:nth-child(1){
    padding-left: 10px;
}
.containerInfoValores table tr td:nth-child(2),
#pontosAdicionais tr:nth-child(4) td:nth-child(3){
    text-align: right;
    padding-right: 10px;
}
#pontosAdicionais tr:nth-child(4) td:nth-child(2){
    padding-left: 10px;
    text-align: left;
}
.containerAdicionaisTv div{
    width: 100%;
    float: left;
}
.containerAdicionaisTv div label{
    margin-left: 10px;
    font-size: 12px;
}
.containerAdicionaisTv div span{
    margin-right: 10px;
    font-weight: bold;
}
.containerAdicionaisTv label{ float: left; }
.containerAdicionaisTv span{ float: right; }
.selectPontosAdicionais{
    height: 28px;
    padding: 0px;
}
.containerRoxo{
    border: 1px solid #79227A;
    width: 100%;
}
#containerTotal header{
    background: #C11193;
    padding: 5px 0px;
    margin-bottom: 20px;
    text-align: center;
    color: #eee
}
#containerTotal header div{
    background: #79227A;
    width: 26%;
    height: 18%;
    color: #fff;
    border-radius: 165px;
    position: absolute;
    top: 4px;
    padding-top: 6%;
}
#containerTotal > div:nth-child(2) > table{
    width: 100%;
}
#containerTotal > div:nth-child(2) > table thead,
#containerTotal > div:nth-child(2) > table tr td,
#containerTotal > div:nth-child(3) > table{
    font-weight: bold;
}
#containerTotal > div:nth-child(2) > table thead{
    color: #79227A;
}
#containerTotal > div:nth-child(2) > table tr td:nth-child(1){
    font-size: 14px;
    padding-left: 10px;
}
#containerTotal > div:nth-child(2) > table tr td:nth-child(2){
    font-size: 18px;
    color: #C11193;
}
#containerTotal > div:nth-child(3) > table tr td:nth-child(1){
    font-size: 12px;
}
#containerTotal > div:nth-child(3) > table tr td:nth-child(2){
    font-size: 16px;
}
#containerTotal > div:nth-child(3) > table tr:nth-child(2) td:nth-child(2){
    color: #C11193;
}
#containerGrupoPromocao > div{
    float: left;
    width: 100%;
    margin-top: 6px;
    text-align: center;
}
#containerGrupoPromocao > div:nth-child(1){
    border: 1px solid #F90;
    background: #EFFF00;
}
#containerGrupoPromocao > div:nth-child(1) h3{
    background: #F90;
    padding: 11px 0px;
    margin: 0;
    color: #fff;
}
#containerGrupoPromocao > div:nth-child(2){
    border: 1px solid #F90;
    background: #EFFF00;
}
#containerGrupoPromocao > div:nth-child(2) h3{
    background: #F90;
    padding: 11px 0px;
    margin: 0;
    color: #fff;
}
#containerGrupoPromocao > div label{
    font-size: 12px;
}
#laberColarTv{
    border-top: 1px solid #F90;
    width: 100%;
}
footer {
    background-color: #f2f2f2;
    padding: 25px;
}
@media (max-width: 360px) {
    .containerCombo {
        background: red;
        width: 99%;
    }
}